* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#ketornah-main-header {
  text-align: center;
  height: 56px;
  background-color: #f0f0f0;
  margin: 0;
}

#ketornah-main-header>h1 {
  font-size: 48px;
}

#app {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 18px;
}

h1 {
  text-decoration: none;
  margin: 0;
}

.search-container {
  min-width: 400px;
  width: 33%;
}

.search-container>input {
  width: 400px;
  height: 50px;
  font-size: 42px;
  text-align: center;
  outline-width: 0px;
  border-radius: 4px;
  border: 1px solid #4d4d4d;
}