* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#ketornah-main-header {
  text-align: center;
  height: 56px;
  background-color: #f0f0f0;
  margin: 0;
}

#ketornah-main-header>h1 {
  font-size: 48px;
}

#app {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 18px;
}

h1 {
  text-decoration: none;
  margin: 0;
}

.search-container {
  width: 400px;
}

.search-input {
  margin-bottom: 13px;
}

.search-input>input {
  width: 400px;
  height: 50px;
  font-size: 42px;
  text-align: center;
  outline-width: 0px;
  border-radius: 4px;
  border: 1px solid #4d4d4d;
}

.search-result {
  border: 1px solid black;
  border-radius: 4px;
  min-height: 80px;
  padding: 5px;
  margin: 5px;
}

.search-result-title {
  font-weight: bold;
  font-size: 14px;
}

.keto-index-fatbomb {
  background-color: #b0ff93;
}

.keto-index-keto {
  background-color: #e8ffe0;
}

.keto-index-mild {
  background-color: #93e6ff;
}

.keto-index-danger {
  background-color: #ffc4d5;
}

.keto-index-not-keto {
  background-color: #ff789d;
}